<div class="wrap">
  <img
    class="bg-size"
    src="https://mellowpop.mcot.net/uploads/article/article_6392ca3261a37.jpg"
  />
  <div class="title">
    <span class="font-title"> พุซ อิน บู๊ทส์ 2 </span>
  </div>
  <div class="info">
    <li>
      หมวดหมู่: Adventure, Animation, Comedy | เรทผู้ชม: G | 105 นาที |
      วันที่เข้าฉาย: 29 ธันวาคม 2022
    </li>
  </div>
  <button mat-button class="bt-ticket">
    <span class="font-thai" style="color: white">จองตั๋วภาพยนต์</span>
  </button>
  <p class="text-trailer-inbox">Watch the Trailer</p>
  <div class="bdVideo"></div>
  <div class="video">
    <iframe
      width="180"
      height="135"
      src="https://www.youtube.com/embed/LcYyaEzD6FI"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
<div class="poster">
  <div class="container">
    <mat-card class="app-card">
      <img
        class="poster-img"
        src="https://lh3.googleusercontent.com/XCruE06lPrA3xmY1R4_-DeLb2QwAW0ISZC7up-1PsDKqbi2sw61m_p2dF7gOYkDgcs_SAIBn9Mxg4iwBaCCuwGhq-Uo3Wx1_xw=w260"
      />
      <mat-card-content style="margin-left: 150px">
        <h1>พุซ อิน บู๊ทส์ 2</h1>
        <p>วันที่เข้าฉาย: 23 กุมภาพันธ์ 2023</p>
        <p>หมวดหมู่: Action, Animation | เรทผู้ชม: G | 105 นาที</p>
        <p>ผู้กำกับ: Joel Crawford, Januel Mercado</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="container">
  <div class="sysnopis-horison"><span class="text-sy"> Sysnopis </span></div>
</div>
<div class="pharagrap">
  <p>
    ครั้งแรกในรอบกว่าสิบปีที่ดรีมเวิร์คส์ แอนิเมชั่น นำเสนอการผจญภัยในจักรวาล
    Shrek เรื่องราวของคนนอกกฏหมายผู้กล้าหาญ Puss In Boots
    ถ่ายทอดเรื่องเกี่ยวกับความหลงใหลในอันตรายและการเพิกเฉยต่อความปลอดภัยของเขานำไปสู่ความเสียหาย
    พุซ ใช้ชีวิตไป 8 จาก 9 ชีวิต แต่ก็ลืมนับชีวิตตัวเองไป การนำชีวิตกลับมาทำให้
    Puss in Boots เข้าไปสู่การสำรวจค้นหาครั้งยิ่งใหญ่
  </p>
</div>
<div class="trailer">
  <h4>TRAILER</h4>
</div>
<div class="video-triler">
  <iframe
      width="1280"
      height="720"
      src="https://www.youtube.com/embed/LcYyaEzD6FI"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
</div>
<div class="container">
  <div class="sysnopis-vertical"></div>
</div>
