<div class="wrap">
  <img
    class="bg-size"
    src="https://assets.beartai.com/uploads/2023/02/that-time-i-got-reincarnated-as-a-slime-the-movie-scarlet-bond-cover.jpg"
  />
  <div class="title">
    <span class="font-title"> เกิดใหม่ทั้งทีก็เป็นสไลม์ไปซะแล้ว เดอะมูฟวี่ </span>
  </div>
  <div class="info">
    <li>
      หมวดหมู่: Animation | เรทผู้ชม: G | 110 นาที | วันที่เข้าฉาย: 15
      กุมภาพันธ์ 2023
    </li>
  </div>
  <button mat-button class="bt-ticket">
    <span class="font-thai" style="color: white">จองตั๋วภาพยนต์</span>
  </button>
  <p class="text-trailer-inbox">Watch the Trailer</p>
  <div class="bdVideo"></div>
  <div class="video">
    <iframe
      width="180"
      height="135"
      src="https://www.youtube.com/embed/axK3OUSf4Mc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
<div class="poster">
  <div class="container">
    <mat-card class="app-card">
      <img
        class="poster-img"
        src="https://lh3.googleusercontent.com/fbMyj3RugUL1IFEM9M-Musn2Qwc8dMnAI7IdXj8iAXLsb-reiACekB9gWtZIHnKeqrsEvFe9f0vobSBqphbEHIQKhXHiGaHBWQ=w260"
      />
      <mat-card-content style="margin-left: 150px">
        <h1>เกิดใหม่ทั้งทีก็เป็นสไลม์ไปซะแล้ว เดอะมูฟวี่</h1>
        <p>วันที่เข้าฉาย: 15 กุมภาพันธ์ 2023</p>
        <p>หมวดหมู่: Animation | เรทผู้ชม: G | 110 นาที</p>
        <p>ผู้กำกับ: Yasuhito Kikuchi</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="container">
  <div class="sysnopis-horison"><span class="text-sy"> Sysnopis </span></div>
</div>
<div class="pharagrap">
  <p>
    ราจะ ประเทศเล็กๆแห่งหนึ่งที่ตั้งอยู่ทางทิศตะวันตก ของสหพันธ์จูร่าเทมเพสต์
    ซึ่งประเทศนี้เมื่อก่อนนั้นเคยรุ่งเรืองจากการทำเหมืองทอง
    แต่ว่าในตอนนี้ความรุ่งเรืองนั้นไม่มีอยู่อีกแล้ว
    ประเทศนี้กำลังอยู่ในสถานการณ์วิกฤต
    เนื่องจากน้ำในทะเลสาบที่เน่าเสียเพราะพิษจากเหมือง ราชินีโทวะ
    ได้ใช้เวทมนต์ของมงกุฏที่สืบทอดต่อกันมาในราชวงศ์ ขจัดพิษในทะเลสาบ
    และปกป้องประชาชน โดยแลกกับการที่เธอต้องโดนคำสาปไปทั่วทั้งร่างกาย
    และชีวิตของเธอนั้นก็ได้ถูกกัดกินไปทีละนิด ในขณะเดียว โอเกอร์ผู้เหลือรอด
    “ฮิอิโระ” ก็ได้ออกมาปรากฏตัวที่ เทมเพสต์ อย่างกะทันหัน ฮิอิโระ
    ผู้เป็นพี่ใหญ่ของเบนิมารุ นั้นได้ถูกโทวะช่วยชีวิตไว้เลยรอดออกมาได้
    และเพื่อที่จะปกป้อง โทวะ และประเทศราจะ ฮิอิโระ จึงได้มาขอความช่วยเหลือจาก
    ริมุรุ และเขาก็ได้พบกับ เบนิมารุ อีกครั้ง พวกริมุรุได้ออกเดินทางไปยัง ราจะ
    เพื่อแก้คำสาปของโทวะ และช่วยเหลือทุกคนจากวิกฤตการณ์นี้
  </p>
</div>
<div class="trailer">
  <h4>TRAILER</h4>
</div>
<div class="video-triler">
  <iframe
      width="1280"
      height="720"
      src="https://www.youtube.com/embed/axK3OUSf4Mc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
</div>
<div class="container">
  <div class="sysnopis-vertical"></div>
</div>
