<div class="wrap">
  <img
    class="bg-size"
    src="https://img.4gamers.com.tw/ckfinder-th/image2/auto/2022-04/%E0%B8%AD%E0%B8%B8%E0%B8%8B%E0%B8%B8%E0%B8%A2%20%E0%B9%80%E0%B8%97%E0%B9%87%E0%B8%99%E0%B9%80%E0%B8%87%E0%B9%87%E0%B8%99%20%E0%B8%94%E0%B8%B2%E0%B8%9A%E0%B8%9E%E0%B8%B4%E0%B8%86%E0%B8%B2%E0%B8%95%E0%B8%AD%E0%B8%AA%E0%B8%B9%E0%B8%A3-220420-121123.jpeg?versionId=hc1KpeTgfcugAzR9fb7..HBDN.sKnb_0"
  />
  <div class="title">
    <span class="font-title"> ดาบพิฆาตอสูร : สู่หมู่บ้านช่างตีดาบ </span>
  </div>
  <div class="info">
    <li>
      หมวดหมู่: Action, Animation | เรทผู้ชม: G | 110 นาที | วันที่เข้าฉาย: 23
      กุมภาพันธ์ 2023
    </li>
  </div>
  <button mat-button class="bt-ticket">
    <span class="font-thai" style="color: white">จองตั๋วภาพยนต์</span>
  </button>
  <p class="text-trailer-inbox">Watch the Trailer</p>
  <div class="bdVideo"></div>
  <div class="video">
    <iframe
      width="180"
      height="135"
      src="https://www.youtube.com/embed/3PChKPkC1Mo"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
<div class="poster">
  <div class="container">
    <mat-card class="app-card">
      <img
        class="poster-img"
        src="https://lh3.googleusercontent.com/T5wRaYd8r45DDG_Y5ZvbV9N0g92wuRRuLJ1SzWn8khwUWJxaaafJwHXdk9WfUlIYatxtvfBV8GvZ1X6dty2MP1_w8PQF38gsQg=w260"
      />
      <mat-card-content style="margin-left: 150px">
        <h1>ดาบพิฆาตอสูร : สู่หมู่บ้านช่างตีดาบ</h1>
        <p>วันที่เข้าฉาย: 23 กุมภาพันธ์ 2023</p>
        <p>หมวดหมู่: Action, Animation | เรทผู้ชม: G | 110 นาที</p>
        <p>ผู้กำกับ: Haruo Sotozaki</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="container">
  <div class="sysnopis-horison"><span class="text-sy"> Sysnopis </span></div>
</div>
<div class="pharagrap">
  <p>
    หลังจากที่ ทันจิโร่ และพรรคพวกสามารถเอาชนะอสูรข้างขึ้นที่ 6 ได้สำเร็จ
    พวกเขาก็ได้รับภารกิจให้เดินทางไปยังหมู่บ้านช่างตีดาบ
    เพื่อนำดาบของตัวเองไปซ่อมแซม แต่แล้วเหตุการณ์ไม่คาดฝันก็เกิดขึ้น เมื่อจู่ๆ
    ก็มีอสูรปริศนาบุกมาโจมตีหมู่บ้าน
    ทันจิโร่และพรรคพวกจึงต้องเข้าเผชิญหน้ากับเหล่าอสูรสุดแกร่งอีกครั้ง
  </p>
</div>
<div class="trailer">
  <h4>TRAILER</h4>
</div>
<div class="video-triler">
  <iframe
    width="1280"
    height="720"
    src="https://www.youtube.com/embed/3PChKPkC1Mo"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
<div class="container">
  <div class="sysnopis-vertical"></div>
</div>
